<div class="container">
    <div class="row">
        <h1>
            Proyectos
        </h1>
    </div>
    <div class="row">
        <div class="col-md offset-xl-1 w-45">        
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Titulo de la tarjeta 2</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lectus sem, 
                                      tempor vitae mattis malesuada, ornare sed erat. Pellentesque nulla dui, congue
                                      nec tortor sit amet, maximus mattis dui. </p>
                <a href="#" class="btn btn-primary">Ir</a>
              </div>
                <img class="card-img-bottom" src="../../../assets/images/ProyectoFinal.png" id="proyecto">                        
            </div>          
        </div>
        <div class="col-md w-45">        
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Titulo de la tarjeta 2</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lectus sem, 
                                      tempor vitae mattis malesuada, ornare sed erat. Pellentesque nulla dui, congue
                                      nec tortor sit amet, maximus mattis dui. </p>
                <a href="#" class="btn btn-primary">Ir</a>
              </div>
                <img class="card-img-bottom" src="../../../assets/images/ProyectoFinal.png" id="proyecto">                        
            </div>          
        </div>
    </div>
</div>