/* generales */
div{
    background-color: rgb(49, 45, 45);
    align-items: center;
}
.container-fuild{
   padding-right: 6px;
   margin-right: 6px;
}

/* Logo Argentina Programa */
#LogoAP{
    width: 135px;
}

/* Redes Sociales */
#Facebook,
#Twitter,
#Github,
#Instagram,
#Linkedin{
    width: 50px;
    float: right;
}

/*Boton Login */
.btn{
    font-weight: bold;
    font-size: x-large;
    box-shadow: 2px 2px 2px 2px rgb(167, 159, 159);
}
#BotonLogueo{
    flex:content;
    margin-right: 5px;
    margin-top: 10px;
 }
