/* generales */
div{
    align-items: center;
}
#principal{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(123, 123, 248) 35%, rgba(0,212,255,1) 100%);
   /*margin-right: 6px;*/
}

/* Logo Argentina Programa */
#LogoAP{
    width: 135px;
}

/* Redes Sociales */
#Facebook,
#Twitter,
#Github,
#Instagram,
#Linkedin{
    width: 50px;
    float: right;
}

/*Boton Login */
.btn{
    font-weight: bold;
    font-size: x-large;
    box-shadow: 2px 2px 2px 2px rgb(167, 159, 159);
}
#BotonLogueo{
    flex:content;
    margin-right: 5px;
    margin-top: 10px;
    padding-right: 6px;
 }
