<div class="container">
    <div class="row" id="titulo">
        <h2>
            Educación
        </h2>
    </div>
    <dl class="row"> 
        <li class="col-sm-2">Imagen</li>
        <dd class="col-sm-7">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam deleniti architecto iste laborum omnis saepe repellendus voluptatibus? Fugiat tempora illo nostrum delectus tenetur architecto nemo nobis numquam! Deleniti, rem dolor.</dd>
        <dt class="col-sm-3">Palabra 1</dt>
        <li class="col-sm-2">Imagen</li>
        <dd class="col-sm-7">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam deleniti architecto iste laborum omnis saepe repellendus voluptatibus? Fugiat tempora illo nostrum delectus tenetur architecto nemo nobis numquam! Deleniti, rem dolor.</dd>
        <dt class="col-sm-3">Palabra 2</dt>
        <li class="col-sm-2">Imagen</li>
        <dd class="col-sm-7">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam deleniti architecto iste laborum omnis saepe repellendus voluptatibus? Fugiat tempora illo nostrum delectus tenetur architecto nemo nobis numquam! Deleniti, rem dolor.</dd>
        <dt class="col-sm-3">Palabra 3</dt>
    </dl>
</div>