/* generales */
div{
    background-color: black;
}
/* Logo Argentina Programa */
#LogoAP{
    width: 135px;
}

/* Redes Sociales */
#Facebook,
#Twitter,
#Github,
#Instagram,
#Linkedin{
    width: 40px;
    float: right;
    margin-top: 17px;
}

/*Boton Login */
.btn{
    font-weight: bold;
    font-size: x-large;
    margin-top: 13px;
}
 #BotonLogueo{
    flex:content;
 }