<div class="container-fuild" id="principal">
    <div class="row" id="titulo">
        <div class="col-xs col-sm col-md col-lg col-xl">
            <h2>Experiencia Laboral</h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="button">
            <button type="button" class="btn btn-dark" routerLink="/nuevaExperiencia" *ngIf="isLogged">
                <i class="bi bi-plus-circle"> Agregar Experiencia</i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Experiencia of experiencia">
                        <td class="col-xs-3 col-sm-3 col-md-2"><h4>{{Experiencia.nombreE}}</h4></td>
                        <td class="col-xs-7 col-sm-7 col-md-5">{{Experiencia.descripcionE}}</td>
                        <td class="col-xs-2 col-sm-2 col-md-1"><img src="{{Experiencia.urlImgE}}" alt="imgE"  id="imgE"></td>
                        <td class="col-xs-6 col-sm-6 col-md-1" *ngIf="isLogged">
                            <button class="btn btn-warning" routerLink="/editarExperiencia/{{Experiencia.id}}">
                                <i class="bi bi-pencil-square"> Editar</i>
                            </button>
                        </td>
                        <td class="col-xs-6 col-sm-6 col-md-1" *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                                <i class="bi bi-trash"> Borrar</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>