<div class="container-fluid" id="hard-skills">
    <div class="row">
        <h2>Hard & Soft Skills</h2>
    </div>
    <div class="row">
<!--HTML-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#ff6633'"
            [innerStrokeColor]="'#ff9900'"
            [animation]="true"
            [animationDuration]="700"
            [showSubtitle]="false"
            [showTitle]="false"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'../../../assets/images/html-logo.png'"
            [imageWidth]="90"
            [imageHeight]="90"
            ></circle-progress>
        </div>
        
<!--CSS-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#6699ff'"
            [innerStrokeColor]="'#3366cc'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle]="false"
            [showTitle]="false"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'../../../assets/images/css-logo.png'"
            [imageWidth]="90"
            [imageHeight]="90"
            ></circle-progress>    
        </div>
<!--JavaScript-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
            [percent]="65"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ffcc00'"
            [innerStrokeColor]="'#ffcc99'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle]="false"
            [showTitle]="false"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'../../../assets/images/js-logo.png'"
            [imageWidth]="90"
            [imageHeight]="90"
            ></circle-progress>    
        </div> 
<!--Office-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ff6600'"
            [innerStrokeColor]="'#ff6666'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle]="false"
            [showTitle]="false"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'../../../assets/images/office-logo.png'"
            [imageWidth]="90"
            [imageHeight]="90"
            ></circle-progress>     
        </div>
<!--Trabajo en Equipo-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#330000'"
            [innerStrokeColor]="'#333300'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle]="false"
            [showTitle]="false"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'../../../assets/images/groupjob-logo.png'"
            [imageWidth]="90"
            [imageHeight]="90"
            ></circle-progress> 
        </div>  
<!--Comunicación-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#660066'"
            [innerStrokeColor]="'#660099'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle]="false"
            [showTitle]="false"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'../../../assets/images/comunicacion-logo.png'"
            [imageWidth]="90"
            [imageHeight]="90"
            ></circle-progress>  
        </div> 
    </div>
</div>