/*Generales */
.row{
    padding: 20px;
    text-align: center;
}

#principal{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(123, 123, 248) 35%, rgba(0,212,255,1) 100%);
}
/* Foto Perfil */
img{
    width: 275px;
    height: auto;
}
#FotoPerfil{
    box-shadow: 0px 5px 5px 5px rgb(73, 71, 71);
    margin-top: -100px;
}

/* Nombre y Título */
#Nombre{
    font-weight: bold;
}

#Nombre,
#Titulo{
    font-size: xx-large;
}