/*Generales */
.row{
    padding: 20px;
    text-align: center;
}

#principal{
    background: rgb(154,195,241);
    background: linear-gradient(90deg, rgba(130,157,235,1) 0%, rgba(255,255,255,1) 52%, rgba(130,157,235,1) 100%);
}
/* Foto Perfil */
img{
    width: 275px;
    height: auto;
}
#FotoPerfil{
    box-shadow: 0px 5px 5px 5px rgb(73, 71, 71);
    margin-top: -100px;
}

/* Nombre y Título */
#Nombre{
    font-weight: bold;
}

#Nombre,
#Titulo{
    font-size: xx-large;
}