<div class="container-fuild" *ngIf="educacion">
    <div class="row justify-content-center">
        <div class="card">
            <div class="col-lg-6">
                <h3>Completar Campos</h3>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreEdu">Título o Disciplina</label>
                        <input type="text" class="form-control" id="nombreE" name="nombreEdu" [(ngModel)]="educacion.nombreEdu" name="nombreEdu" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="descripcionEdu">Descripcion del Curso/Disciplina</label>
                        <textarea type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="educacion.descripcionEdu" name="descripcionEdu" required></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="urlImgEdu">URL Imagen de Referencia</label>
                        <input type="text" class="form-control" id="urlImgEdu" name="urlImgEdu" [(ngModel)]="educacion.urlImgEdu" name="urlImgEdu">
                    </div>
                    <br>
                    <button class="btn btn-dark">Actualizar datos</button>
                </form>
                </div>
        </div>
    </div>
</div>