<div class="container-fuild py-5 h-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">Completar Campos</h3>
              <!-- Formulario de Creación -->
              <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Título o Disciplina</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu" name="nombreEdu" required>
                </div>
                <br>
                <div class="form-group">
                  <label for="lugarEdu">Institución Académica</label>
                  <input type="text" class="form-control" id="lugarEdu" name="lugarEdu" [(ngModel)]="lugarEdu" name="lugarEdu" required>
              </div>
              <br>
              <div class="form-group">
                <label for="fechaEdu">Periodo de cursado</label>
                <input type="text" class="form-control" id="fechaEdu" name="fechaEdu" [(ngModel)]="fechaEdu" name="fechaEdu" required>
            </div>
            <br>
                <div class="form-group">
                    <label for="descripcionEdu">Descripcion del curso/disciplina</label>
                    <textarea type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="descripcionEdu" name="descripcionEdu" required></textarea>
                </div>
                <br>
                <div class="form-group">
                    <label for="urlImgEdu">URL Imagen de Referencia</label>
                    <input type="text" class="form-control" id="urlImgEdu" name="urlImgEdu" [(ngModel)]="urlImgEdu" name="urlImgEdu">
                </div>
                <br>
                <button class="btn btn-dark">Agregar</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>