<div class="container">
    <div class="row">
        <h2>
            Experiencia Laboral
        </h2>
    </div>
    <dl class="row"> 
        <dt class="col-sm-3">Palabra 1</dt>
        <dd class="col-sm-7">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam deleniti architecto iste laborum omnis saepe repellendus voluptatibus? Fugiat tempora illo nostrum delectus tenetur architecto nemo nobis numquam! Deleniti, rem dolor.</dd>
        <li class="col-sm-2">Imagen</li>
        <dt class="col-sm-3">Palabra 2</dt>
        <dd class="col-sm-7">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, illum laboriosam animi consequatur nobis assumenda vel. Amet assumenda tempora, in cum quasi dolor ipsa soluta tenetur quos fugiat vero placeat?</dd>
        <li class="col-sm-2">Imagen</li>
        <dt class="col-sm-3">Palabra 3</dt>
        <dd class="col-sm-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam obcaecati quisquam velit id alias porro labore ex facilis. Maxime eos illum suscipit explicabo velit! Esse pariatur asperiores vel quos numquam!</dd>
        <li class="col-sm-2">Imagen</li>
    </dl>
</div>