<div class="container-fuild py-5 h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Completar Campos</h3>
            <!-- Formulario de Creación -->
              <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
              <div class="form-group">
                  <label for="nombreP">Nombre del Proyecto</label>
                  <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" name="nombreP" required>
              </div>
              <br>
              <div class="form-group">
                  <label for="descripcionP">Descripcion del proyecto</label>
                  <textarea type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" name="descripcionP" required></textarea>
              </div>
              <br>
              <div class="form-group">
                  <label for="urlImgP">URL de la Imagen</label>
                  <input type="text" class="form-control" id="urlImgP" name="urlImgP" [(ngModel)]="urlImgP" name="urlImgP" required>
              </div>
              <br>
              <button class="btn btn-dark">Agregar</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>