#principal{
    background: rgb(154,195,241);
    background: linear-gradient(90deg, rgba(130,157,235,1) 0%, rgba(255,255,255,1) 52%, rgba(130,157,235,1) 100%);
}
.card-body{
    text-align: center;
}

#button{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 25px;
}
#titulo{
    padding-left: 25px;
}
/*.card-img-bottom{
    width: 40%;
    height: auto;
}*/