<div class="container-fluid">
    <div class="row">
        <h2>Hard & Soft Skills</h2>
    </div>
    <div class="row text-center" id="hard-skills">
<!--HTML-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
                [imageSrc]="'../../assets/images/html-logo.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageHeight]="90"
                [showTitle]="false"
                [showSubtitle]="false"              
            ></circle-progress>
        </div>
<!--CSS-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
                [imageSrc]="'../../assets/images/css-logo.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageHeight]="90"
                [showTitle]="false"
                [showSubtitle]="false"              
            ></circle-progress>
        </div>
<!--JavaScript-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
                [imageSrc]="'../../assets/images/js-logo.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageHeight]="90"
                [showTitle]="false"
                [showSubtitle]="false"              
            ></circle-progress>
        </div>
<!--Office-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
                [imageSrc]="'../../assets/images/office-logo.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageHeight]="90"
                [showTitle]="false"
                [showSubtitle]="false"              
            ></circle-progress>
        </div>
<!--Trabajo en Equipo-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
                [imageSrc]="'../../assets/images/groupjob-logo.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageHeight]="90"
            ></circle-progress>
        </div>
<!--Comunicación-->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
                [imageSrc]="'../../assets/images/comunicacion-logo.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageHeight]="90"
                [showTitle]="false"
                [showSubtitle]="false"              
            ></circle-progress>
        </div>
    </div>
</div>